<div class="background">
  <input class="invisible position-absolute"
         #cameraInput type="file" accept="image/jpeg" title="Test"
         (change)="cameraChanged($event.target.files)" capture>

  <img class="position-absolute full-screen" [src]="image">
  <img class="position-absolute full-screen" style="opacity: 0.5" [src]="maskImg">

  <div class="position-absolute full-screen">
    <app-dot styleName='whole' [model]="whole"></app-dot>
    <app-dot styleName='player' [model]="player"></app-dot>

    <span class="float-left friction-label">Friction: {{currentFriction | number:'1.1-3' }}</span>
    <span class="float-right score-label">Score: {{score}}</span>

    <div class="fixed-bottom">
      <button class="btn btn-success" (click)="cameraInput.click()">
        <span class="fas fa-camera"></span>
      </button>
    </div>
    <div class="vertical-center" [hidden]="!paused" (click)="centerTextClicked()">
      <p class="center-text" [hidden]="!paused">{{centerText}}</p>
    </div>
  </div>

</div>
