.background {
  background: black;
  width: 100%;
  height: 100%;
}

.dot {
  border-radius: 100%;
  border: 10px solid;
  position: absolute;
}

.player {
  border-color: yellow;
}

.whole {
  border: 20px lightgray solid;
}
