/* You can add global styles to this file, and also import other style files */
html {
  background: white;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  position: relative;
}

.full-screen {
  width: 100%;
  height: 100%;
}
